server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: bangla-learning-lms
  datasource:
    url: jdbc:h2:mem:banglalmsdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

jwt:
  secret: BanglaLearningLMS2024SecretKeyForJWTAuthenticationMinimum256BitsRequired
  expiration: 86400000

logging:
  level:
    root: INFO
